<div class='Item well'>
  <div class='header'>
    <h1>Item Name</h1>
    <p class='description'>
      Lorem ipsum si color di amte
    </p>
  </div>
  <div class='media'>
    <img src='./img/watch1.jpg ' class='img-responsive' />
  </div>
  <div class='footer'>
      <p class='price'>
                  12$
      </p>
      <button class='btn btn-danger'>Buy</button>
  </div>
</div>
