<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

  <% include ../partials/nav.ejs %>
  
    <div class="container">
      <div class="jumbotron">
        <h1>ON TIME CHANCES ON A DAILY BASIS</h1>
      </div>
      <div class="row">
        <div class="col-lg-3">

          <div class='Item well'>
            <div class='header'>
              <h1>Item Name</h1>
              <p class='description'>
                Lorem ipsum si color di amte
              </p>
            </div>
            <div class='media'>
              <img src='./img/watch1.jpg ' class='img-responsive' />
            </div>
            <div class='footer'>
              <div class=''>
                <p class='price'>
                  12$
                </p>
                <button class='btn btn-danger'>Buy</button>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-3">

          <div class='Item well'>
            <div class='header'>
              <h1>Item Name</h1>
              <p class='description'>
                Lorem ipsum si color di amte
              </p>
            </div>
            <div class='media'>
              <img src='./img/watch1.jpg ' class='img-responsive' />
            </div>
            <div class='footer'>
              <div class=''>
                <p class='price'>
                  12$
                </p>
                <button class='btn btn-danger'>Buy</button>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-3">

          <div class='Item well'>
            <div class='header'>
              <h1>Item Name</h1>
              <p class='description'>
                Lorem ipsum si color di amte
              </p>
            </div>
            <div class='media'>
              <img src='./img/watch1.jpg ' class='img-responsive' />
            </div>
            <div class='footer'>
              <div class=''>
                <p class='price'>
                  12$
                </p>
                <button class='btn btn-danger'>Buy</button>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-3">

          <div class='Item well'>
            <div class='header'>
              <h1>Item Name</h1>
              <p class='description'>
                Lorem ipsum si color di amte
              </p>
            </div>
            <div class='media'>
              <img src='./img/watch1.jpg ' class='img-responsive' />
            </div>
            <div class='footer'>
              <div class=''>
                <p class='price'>
                  12$
                </p>
                <button class='btn btn-danger'>Buy</button>
              </div>
            </div>

          </div>
</div>





        </div>











        <div class="row">
          <div class="col-lg-3">

            <div class='Item well'>
              <div class='header'>
                <h1>Item Name</h1>
                <p class='description'>
                  Lorem ipsum si color di amte
                </p>
              </div>
              <div class='media'>
                <img src='./img/watch1.jpg ' class='img-responsive' />
              </div>
              <div class='footer'>
                <div class=''>
                  <p class='price'>
                    12$
                  </p>
                  <button class='btn btn-danger'>Buy</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-3">

            <div class='Item well'>
              <div class='header'>
                <h1>Item Name</h1>
                <p class='description'>
                  Lorem ipsum si color di amte
                </p>
              </div>
              <div class='media'>
                <img src='./img/watch1.jpg ' class='img-responsive' />
              </div>
              <div class='footer'>
                <div class=''>
                  <p class='price'>
                    12$
                  </p>
                  <button class='btn btn-danger'>Buy</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-3">

            <div class='Item well'>
              <div class='header'>
                <h1>Item Name</h1>
                <p class='description'>
                  Lorem ipsum si color di amte
                </p>
              </div>
              <div class='media'>
                <img src='./img/watch1.jpg ' class='img-responsive' />
              </div>
              <div class='footer'>
                <div class=''>
                  <p class='price'>
                    12$
                  </p>
                  <button class='btn btn-danger'>Buy</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-3">

            <div class='Item well'>
              <div class='header'>
                <h1>Item Name</h1>
                <p class='description'>
                  Lorem ipsum si color di amte
                </p>
              </div>
              <div class='media'>
                <img src='./img/watch1.jpg ' class='img-responsive' />
              </div>
              <div class='footer'>
                <div class=''>
                  <p class='price'>
                    12$
                  </p>
                  <button class='btn btn-danger'>Buy</button>
                </div>
              </div>

            </div>
  </div>





          </div>


















          <div class="row">
            <div class="col-lg-3">

              <div class='Item well'>
                <div class='header'>
                  <h1>Item Name</h1>
                  <p class='description'>
                    Lorem ipsum si color di amte
                  </p>
                </div>
                <div class='media'>
                  <img src='./img/watch1.jpg ' class='img-responsive' />
                </div>
                <div class='footer'>
                  <div class=''>
                    <p class='price'>
                      12$
                    </p>
                    <button class='btn btn-danger'>Buy</button>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-3">

              <div class='Item well'>
                <div class='header'>
                  <h1>Item Name</h1>
                  <p class='description'>
                    Lorem ipsum si color di amte
                  </p>
                </div>
                <div class='media'>
                  <img src='./img/watch1.jpg ' class='img-responsive' />
                </div>
                <div class='footer'>
                  <div class=''>
                    <p class='price'>
                      12$
                    </p>
                    <button class='btn btn-danger'>Buy</button>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-3">

              <div class='Item well'>
                <div class='header'>
                  <h1>Item Name</h1>
                  <p class='description'>
                    Lorem ipsum si color di amte
                  </p>
                </div>
                <div class='media'>
                  <img src='./img/watch1.jpg ' class='img-responsive' />
                </div>
                <div class='footer'>
                  <div class=''>
                    <p class='price'>
                      12$
                    </p>
                    <button class='btn btn-danger'>Buy</button>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-3">

              <div class='Item well'>
                <div class='header'>
                  <h1>Item Name</h1>
                  <p class='description'>
                    Lorem ipsum si color di amte
                  </p>
                </div>
                <div class='media'>
                  <img src='./img/watch1.jpg ' class='img-responsive' />
                </div>
                <div class='footer'>
                  <div class=''>
                    <p class='price'>
                      12$
                    </p>
                    <button class='btn btn-danger'>Buy</button>
                  </div>
                </div>

              </div>
    </div>





            </div>
      </div>
</div>
  </body>
</html>


</body>
</html>
